form{
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(204, 200, 200, .8);
}

form label{
    font-weight: bold;
}

h2{
    color:white;
    text-align: center;
    margin-top:20px;
}

form input[type="checkbox"]{
    margin-left: 20px;
}

form input[type="file"]{
    width: 100%;
}

#button-group{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media (max-width: 540px){
    form{
        width:90%;
    }
}