#content{
    width: 70%;
    margin:15px auto;
}

.table{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top:30px;
    margin-bottom: 15px;
}

.table tr th, .table td{
    vertical-align: middle;
}

.table tbody tr{
    background-color: white;
}

.table thead {
    color: white;
    background-color: #212529;
}

.fa-check{
    display: block;
}

.btn-success{
    display: block;
    width:100px;
    margin: 0 auto;
    margin-bottom: 30px;
}


h2, h3, h4{
    color: white;
    text-align: center;
}

h3 span{
    font-size: .6em;
}

textarea{
    resize: none;
    width: 100%;
}

#paypal-stuff{
    border: 10px dashed white;
    height: 200px;
    width: 300px;
    margin:0 auto;
    background-color: rgb(105, 12, 4);
    text-align: center;
    position: relative;
}

#paypal-stuff img{
    position: absolute;
    width: 80%;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

@media (max-width: 645px){
    #content{
        width:90%;
    }
    .table{
        width: 100%;
    }
}

@media (max-width: 377px){
    table{
        font-size: .8em;
    }
}

@media (max-width: 328px){
    table{
        font-size: .6em;
    }
}

@media (max-width: 400px){
    #paypal-stuff{
        width: 100%;
    }
}