#panel{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    border: 3px solid black;
    border-radius: 5px;
    width: 400px;
}

#panel ul{
    display: inline;
}

#panel ul li{
    list-style-type: none;
    background-color: rgb(105, 12, 4);
    font-size: 1.1em;   
    text-align: center;
    height: 50px;

}

#panel ul li:hover{
    background-color:  rgba(71, 9, 3,.6);
}

#panel ul li:not(:last-child){
    border-bottom: 3px solid black;
}

#panel ul li a{
    color: white;
    text-decoration: none;
    display:block;
    height: 100%;
    line-height: 50px;
}

@media (max-width: 450px){
    #panel{
        width: 90%;
    }
    #panel li a{
        word-break: keep-all;
    }
}