@import 'style.css';

#forms-container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
}

form {
    min-width: 220px;
    width: 40%;
    border: 2px solid black;
    padding: 30px;
    margin: 0 auto;
    margin-top:30px;
    border-radius: 10px;
    background-color: rgb(204, 200, 200, .8);
}

.form-control {
    border: 1px solid black;
}

.btn-primary {
    display: block;
    margin: 0 auto;
}

.nav-item{
    width: 50%;
    text-align: center;
    background-color: white;
}